<p id="notice"><%= notice %></p>

<h1>写真一覧</h1>

<%= link_to '写真をアップロードする', new_photo_path %>

<hr>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>作成日</th>
      <th>アップロード画像</th>
      <th>SNS</ht>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th colspan="4">
        <%= @photos.present? ? render(@photos) : "アップロードされた写真はありません" %>
      </th>
    </tr>
  </tbody>
</table>
